<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.biz.mapper.WordSortOriginMapper">
    
    <resultMap type="WordSortOrigin" id="WordSortOriginResult">
        <result property="id"    column="id"    />
        <result property="sort"    column="sort"    />
        <result property="word"    column="word"    />
        <result property="wordInfo"    column="word_info"    />
        <result property="sortId"    column="sort_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectWordSortOriginVo">
        select id, sort, word, word_info, sort_id, create_by, create_time, update_by, update_time, remark from word_sort_origin
    </sql>

    <select id="selectWordSortOriginList" parameterType="WordSortOrigin" resultMap="WordSortOriginResult">
        <include refid="selectWordSortOriginVo"/>
        <where>  
            <if test="sort != null "> and sort = #{sort}</if>
            <if test="word != null  and word != ''"> and word = #{word}</if>
            <if test="wordInfo != null  and wordInfo != ''"> and word_info = #{wordInfo}</if>
            <if test="sortId != null "> and sort_id = #{sortId}</if>
        </where>
    </select>
    <!-- 查询出wordInfo为空的数据 -->
    <select id="selectWordSortEmpty" parameterType="WordSortOrigin" resultMap="WordSortOriginResult">
        <include refid="selectWordSortOriginVo"/>
        where word_info is null or word_info=''
    </select>
    
    <select id="selectWordSortOriginById" parameterType="Long" resultMap="WordSortOriginResult">
        <include refid="selectWordSortOriginVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertWordSortOrigin" parameterType="WordSortOrigin" useGeneratedKeys="true" keyProperty="id">
        insert into word_sort_origin
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sort != null">sort,</if>
            <if test="word != null and word != ''">word,</if>
            <if test="wordInfo != null">word_info,</if>
            <if test="sortId != null">sort_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sort != null">#{sort},</if>
            <if test="word != null and word != ''">#{word},</if>
            <if test="wordInfo != null">#{wordInfo},</if>
            <if test="sortId != null">#{sortId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateWordSortOrigin" parameterType="WordSortOrigin">
        update word_sort_origin
        <trim prefix="SET" suffixOverrides=",">
            <if test="sort != null">sort = #{sort},</if>
            <if test="word != null and word != ''">word = #{word},</if>
            <if test="wordInfo != null">word_info = #{wordInfo},</if>
            <if test="sortId != null">sort_id = #{sortId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWordSortOriginById" parameterType="Long">
        delete from word_sort_origin where id = #{id}
    </delete>

    <delete id="deleteWordSortOriginByIds" parameterType="String">
        delete from word_sort_origin where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!--批量插入-->
    <insert id="insertWordSortOriginBatch" parameterType="java.util.List">
        insert into word_sort_origin
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sort != null">sort,</if>
            <if test="word != null and word != ''">word,</if>
            <if test="wordInfo != null">word_info,</if>
            <if test="sortId != null">sort_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <foreach collection="list" item="item" index="index" separator="union all">
            <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="item.sort != null">#{item.sort},</if>
                <if test="item.word != null and item.word != ''">#{item.word},</if>
                <if test="item.wordInfo != null">#{item.wordInfo},</if>
                <if test="item.sortId != null">#{item.sortId},</if>
                <if test="item.createBy != null">#{item.createBy},</if>
                <if test="item.createTime != null">#{item.createTime},</if>
                <if test="item.remark != null">#{item.remark},</if>
             </trim>
        </foreach>
    </insert>

    <!-- batch update -->
    <update id="updateWordSortOriginBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=";">
            update word_sort_origin
            <trim prefix="SET" suffixOverrides=",">
                <if test="item.sort != null">sort = #{item.sort},</if>
                <if test="item.word != null and item.word != ''">word = #{item.word},</if>
                <if test="item.wordInfo != null">word_info = #{item.wordInfo},</if>
                <if test="item.sortId != null">sort_id = #{item.sortId},</if>
                <if test="item.createBy != null">create_by = #{item.createBy},</if>
                <if test="item.createTime != null">create_time = #{item.createTime},</if>
                <if test="item.remark != null">remark = #{item.remark},</if>
            </trim>
            where id = #{item.id}
        </foreach>
    </update>

</mapper>